import("methods")

useDynLib(ROC)

importFrom(graphics, plot)
importFrom(graphics, points)
importFrom(graphics, lines)

exportClasses(rocc)

exportMethods(plot, points, lines)

export(AUC, AUCi, dxrule.sca, pAUC, pAUCi, ROC, rocdemo.sca, trapezint)
